<div class="row text-light bg-dark">
    <div class="col-7">
    </div>
    <div class="col letras">
        <a href="">Ver empleados</a>
    </div>
    <div class="col letras">
        <a href="">Registar empleados</a>
    </div>
    <div class="col">
        <i class="bi bi-youtube logo-arriba"></i>
        <i class="bi bi-twitter logo-arriba"></i>
        <i class="bi bi-instagram logo-arriba"></i>
        <i class="bi bi-facebook logo-arriba"></i>
        <i class="bi bi-text-left logo-arriba"></i>
    </div>
</div>
