<div class="container">
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Sexo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let persona of listaPersonas">
                    <td>{{persona.id}}</td>
                    <td>{{persona.nombre}}</td>
                    <td>{{persona.apellidos}}</td>
                    <td>{{persona.telefono}}</td>
                    <td>{{persona.sexo}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
